In [88]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [89]:
df.shape

(21597, 20)

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  datetime64[ns]
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     21597 non-null  object
 9   view           21597 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  zipcode        21597 non-null  int64
 16  lat            21597 non-null  float64
 17  long           21597 non-null  float64
 18  sqft_living15  21597 non-null  int64
 19  sqft_lot15     21597 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(9), object(5)
memory usage: 3.3+ MB

In [91]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [92]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,1788.596842,1970.999676,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,827.759761,29.375234,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,370.000000,1900.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,1190.000000,1951.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,1560.000000,1975.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,2210.000000,1997.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,9410.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

Data preparation

completeness

In [93]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

There are 3 columns with missing values; waterfront 2376, view 63, yr_renovated 3842

In [94]:
#waterfront
df['waterfront'].value_counts()

NO     21451
YES      146
Name: waterfront, dtype: int64

In [95]:
df['waterfront'].fillna('NO',inplace=True)

In [96]:
df['waterfront'].value_counts()

NO     21451
YES      146
Name: waterfront, dtype: int64

In [97]:
#yr renovated
df['yr_renovated'].value_counts()

KeyError: 'yr_renovated'

In [ ]:
df.drop(['yr_renovated'], axis=1, inplace=True)

In [ ]:
#view
df['view'].value_counts()

NONE         19422
AVERAGE        957
GOOD           508
FAIR           330
EXCELLENT      317
Name: view, dtype: int64

In [ ]:
#handling missing values
df['view'].fillna('NONE', inplace=True)

In [ ]:
df['view'].value_counts()

NONE         19485
AVERAGE        957
GOOD           508
FAIR           330
EXCELLENT      317
Name: view, dtype: int64

In [107]:
df['view'].astype('category')

0        NONE
1        NONE
2        NONE
3        NONE
4        NONE
         ...
21592    NONE
21593    NONE
21594    NONE
21595    NONE
21596    NONE
Name: view, Length: 21597, dtype: category
Categories (5, object): ['AVERAGE', 'EXCELLENT', 'FAIR', 'GOOD', 'NONE']

consistency

In [ ]:
#checking for duplicated values
df.duplicated().sum()

0

There are no duplicates

validity

The idea is to create a new column called has_view where any value of view > 0, results in a corresponding value of True in has_view, and False elsewhere. Also, ensure both features are set to categories.

In [ ]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [ ]:
#proper date formatting
df['date']=pd.to_datetime(df['date'],infer_datetime_format=True)

In [ ]:
df['date'].head()

0   2014-10-13
1   2014-12-09
2   2015-02-25
3   2014-12-09
4   2015-02-18
Name: date, dtype: datetime64[ns]

In [ ]:
area= df[['sqft_living','sqft_above', 'sqft_basement']]
area

       sqft_living  sqft_above sqft_basement
0             1180        1180           0.0
1             2570        2170         400.0
2              770         770           0.0
3             1960        1050         910.0
4             1680        1680           0.0
...            ...         ...           ...
21592         1530        1530           0.0
21593         2310        2310           0.0
21594         1020        1020           0.0
21595         1600        1600           0.0
21596         1020        1020           0.0

[21597 rows x 3 columns]

It seems like sqft_living equals sqft_above plus sqft_basement so we can drop sqft_above and sqft_basement

In [ ]:
df['condition'].value_counts()

Average      14020
Good          5677
Very Good     1701
Fair           170
Poor            29
Name: condition, dtype: int64

In [ ]:
df['grade'].value_counts()

7 Average        8974
8 Good           6065
9 Better         2615
6 Low Average    2038
10 Very Good     1134
11 Excellent      399
5 Fair            242
12 Luxury          89
4 Low              27
13 Mansion         13
3 Poor              1
Name: grade, dtype: int64

In [100]:
df['grade'].replace(to_replace =('11 Excellent', '12 Luxury', '13 Mansion', '10 Very Good'),
                                      value ='Good', inplace=True)
df['grade'].replace(to_replace =('8 Good', '7 Average', '9 Better', '6 Low Average'),
                                      value ='Average', inplace=True) 
df['grade'].replace(to_replace =('3 Poor', '4 Low', '5 Fair'),
                                      value ='Poor', inplace=True)

In [101]:
df['grade'].value_counts()

Average    19692
Good        1635
Poor         270
Name: grade, dtype: int64

In [103]:
df['grade'].astype('category')

0        Average
1        Average
2        Average
3        Average
4        Average
          ...
21592    Average
21593    Average
21594    Average
21595    Average
21596    Average
Name: grade, Length: 21597, dtype: category
Categories (3, object): ['Average', 'Good', 'Poor']

In [106]:
next_house = df[['sqft_living15', 'sqft_lot15']]
next_house

       sqft_living15  sqft_lot15
0               1340        5650
1               1690        7639
2               2720        8062
3               1360        5000
4               1800        7503
...              ...         ...
21592           1530        1509
21593           1830        7200
21594           1020        2007
21595           1410        1287
21596           1020        1357

[21597 rows x 2 columns]

In [108]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [112]:
cleaned_df=df[['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'yr_built', 'zipcode',
       'sqft_living15']]

In [ ]:
cleaned_df.to_csv(''sep=',')